.navbar, .navbar-brand {
    background-color: #1F2937;
    color: #F3F4F6;
}

.navbar a {
    color: #F3F4F6;
}

.dropdown-item {
    color: black;
}

.navbar a:hover {
    color: #14B8A6;
}

body {
    background-color: #1F2937;
    background-image: url("https://files.oaiusercontent.com/file-CCSV4pxxgouJe9ymj4qgdj?se=2024-12-26T09%3A09%3A32Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D08c74b3f-e0f2-4eab-b3e6-c946c68c5adc.webp&sig=QAdTrnl2M4hV2vBft3S5x71zqiQtPbU3zR%2BLYG70bOM%3D");
    color: #F3F4F6;
}

.footer {
    background-color: #1F2937;
    color: #4B5563;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #14B8A6;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block; /* Hoặc float: left; */
    margin: 0 10px; /* Tạo khoảng cách giữa các mục */
}

.alert-alert ,.alert-warning {
    background-color: rgba(255, 233, 0, 0.7);
}

.alert-success {
    background-color: rgba(81, 255, 60, 0.7);
}